@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  color: #fffaf3;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

button {
  color: inherit;
  font: inherit;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fef3e2;
}

.game {
  border-radius: 20px;
  padding: 0 100px;
  width: 600px;
  background-color: #fa4032;
}

.game__title {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  font-family: "Lobster", sans-serif;
  font-size: 50px;
}

.game__canvas {
  display: flex;
  flex-wrap: wrap;
  box-sizing: content-box;
  width: 400px;
  background-color: white;
}

.game__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  min-height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.game__button {
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 140px;
  background-color: #fa812f;
}

.game__button:hover {
  box-shadow: 0px 0px 3px 2px rgba(250, 177, 47, 1);
  transform: scale(1.02);
}

.game__button_active {
  box-shadow: 0px 0px 3px 2px rgba(250, 177, 47, 1);
}
